.container{
    width: 550px;
    height: 520px;
    background: #fff;
}
header{
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 0 1rem;
}

.title {
    text-transform: capitalize;
}
form{
    display: grid;
    grid-template:  40px 40px / 1fr 1fr;
}
input{
    outline: 0;
    width: 230px;
    height: 35px;
    border: 2px solid #D5D4D8;
    border-radius: 5px;
    text-indent: 5px;
    font-size: 1.2rem;
    margin: 1rem;
}

.btn{
    grid-column: 1 / -1;
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
    padding-top: 20px;
    text-align: center;
    margin: 3rem auto;
    width: 513px;
    height: 40px;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    border-radius: 5px;
    cursor: pointer;
}